{% extends "base.html" %}
{% block title %}Pagina Principal{% endblock title %}
{% block content %}
<h3>Pokemons </h3>
{% if user.is_authenticated %}
<a href="{% url "pokedex:add_pokemon" %}" class="btn btn-success">
    <i class="fa-solid fa-plus"></i> Agregar Pokemon
</a>
{% endif %}
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-sm-4">
        <br>

        <div class="card" style="width: 100%;">
            {% if pokemon.picture %}
                <img src="{{ pokemon.picture.url }}"
                    class="card-img-top"
                    alt="Card Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ pokemon|capfirst }}</h5>
                <p class="card-text">Altura: {{ pokemon.height }}</p>
                <a href="{% url 'pokedex:pokemon' pokemon.id %}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>
                {% if user.is_authenticated %}

                <a href="{% url 'pokedex:edit_pokemon' pokemon.id %}" class="btn btn-primary">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="{% url 'pokedex:delete_pokemon' pokemon.id %}" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br> 
<br>

<h3>Entrenadores</h3>

{% if user.is_authenticated %}
<a href="{% url 'pokedex:add_trainer' %}"
    class="btn btn-success">
    <i class="fa-solid fa-plus"></i>
    Agregar Entrenador
</a>
{% endif %}

<div class="row">

{% for trainer in trainers %}

<div class="col-sm-4">

    <br>

    <div class="card" style="width:100%;">

        {% if trainer.picture %}
        <img src="{{ trainer.picture.url }}"
            class="card-img-top"
            style="height:300px; object-fit:cover;"
            alt="Trainer Image">
        {% endif %}

        <div class="card-body">

            <h5 class="card-title">
                {{ trainer.first_name }} {{ trainer.last_name }}
            </h5>

            <p class="card-text">
                Nivel: {{ trainer.level }}
            </p>

            <a href="trainer/{{trainer.id}}"
                class="btn btn-primary">
                <i class="fa-solid fa-eye"></i>
            </a>

            {% if user.is_authenticated %}

            <a href="edit_trainer/{{trainer.id}}"
                class="btn btn-primary">
                <i class="fa-solid fa-pencil"></i>
            </a>

            <a href="delete_trainer/{{trainer.id}}"
                class="btn btn-danger">
                <i class="fa-solid fa-trash"></i>
            </a>

            {% endif %}

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock content %}

