{% extends "base.html" %}
{% block title %}Pagina Principal{% endblock title %}
{% block content %}
<h3>Pokemons </h3>
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-sm-4">
        <br>

        <div class="card" style="width: 100%;">
            <img src="{{ pokemon.picture.url}}" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon | capfirst }}</h5>
                <p class="card-text">Altura: {{ pokemon.height }}</p>
                <a href="{{pokemon.id}}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Entrenadores</h3>
<ul class="list-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
        <a href="trainer/{{trainer.id}}"> {{ trainer | capfirst }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}