{% extends "base.html" %}
{% block title %}Inicio de sesión{% endblock title %}

{% block content %}

<h1>Iniciar sesión</h1>
<form method="post">
    {% csrf_token %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" class="form-control">
            </div>

            <div>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
    </div>
</form>



{% endblock content %}